.categoryItemList {
  background: rgba(251, 246, 241, 0.8);
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 200px;
}
.message {
  background: rgba(251, 246, 241, 0.6);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
